.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid $off-black;
  box-shadow: 0px 0px 1px 1.5px $off-black inset;
}

.progress-bar__filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}