html {
  font-size: 62.5%;
}

body {
  background: $black;
  font-family: Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.gold {
  background-color: $gold;
}

.tan {
  background-color: $tan;
}

.brown {
  background-color: $brown;
}