html {
  font-size: 62.5%;
}

body {
  background: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  color: $white;
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.weather-app {
  width: 360px;
  height: 640px;
  margin: 20px auto;
  background-color: $black;
  display: flex;
  flex-direction: column;
}

.gold {
  background-color: $gold;
}

.tan {
  background-color: $tan;
}

.brown {
  background-color: $brown;
}