// Colours
$dark-grey: #32353e;
$grey: #5c5d61;
$white: #fefeff;
$gold: #f59c09;
$black: #0f0f11;
$off-black: #292c35;
$tan: #9e7227;
$brown: #825d2b;

// Spacing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 2.4rem;